* {
  margin: 0px;
  padding: 0px;
}

.sprite  {
  position: absolute;
  height: 100px;
  left: 50px;
}

body {
  height: 100vh;
}

.w1lvl1 {
  position: absolute;
  height: 100vh ;
  width: auto;
}
#obstacle1 {
  position: absolute;
  height: 100px;
  width: 17%;
  top: 83%;
  left: 3%;
}

#obstacle2 {
  position: absolute;
  height: 100px;
  width: 17%;
  top: 83%;
  left: 28%;
}

#obstacle3 {
  position: absolute;
  height: 50px;
  width: 13%;
  top: 71%;
  left: 47%;
}

#obstacle4 {
  position: absolute;
  height: 100px;
  width: 22%;
  top: 83%;
  left: 62.5%;
}

#obstacle5 {
  position: absolute;
  height: 50px;
  width: 17%;
  top: 67%;
  left: 79.5%;
}

#obstacle6 {
  position: absolute;
  height: 50px;
  width: 22%;
  top: 75%;
  left: 95%;
}

#obstacle7 {
  position: absolute;
  height: 50px;
  width: 20%;
  top: 83%;
  left: 111%;
}

death {
  position: absolute;
  height: 50px;
  width: 130%;
  bottom: 10px;
}

win {
  border: 1px solid blue;
  position: absolute;
  height: 100px;
  width: 10px;
  left: 129%;
  top: 72%;
}

.MainMenu{
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#reloadButton, #Menu{
  position: absolute;
  transform: translate(-50%, -50%);
}

#reloadButton{
  height: 100px;
}

#reloadButton:hover {
  content: url('../Assets/GUI/png/Button/PNG/Hover/ReloadButton.png');
}

#reloadButton:active {
  content: url('../Assets/GUI/png/Button/PNG/Click/ReloadButton.png');
}

.topBanner {
  z-index: 5;
  position: absolute;
  width: 330px;
  transform: translate(-50%, -250%);
}
