* {
  margin: 0px;
  padding: 0px;
}

.sprite  {
  position: absolute;
  height: 200px;
  left: 50px;
}

body {
  height: 100vh;
}

.w1lvl1 {
  position: absolute;
  height: 100vh ;
  width: auto;
}

.obstacle {
  background-color: red;
}

#obstacle1 {
  position: absolute;
  height: 100px;
  width: 325px;
  top: 744px;
  left: 50px;
}
