* {
  margin: 0px;
  padding: 0px;
}
.sprite {
  position: absolute;
  height: 200px;
  top: 600px;
}
.ground {
  background-image: url(../image/ground.png);
  position: absolute;
  height: 100px;
  width: 100%;
  background-repeat: repeat-x;
  bottom: 0px;
}
